@model DXWebApplication2.Models.table_costumer

@{
    ViewBag.Title = "GridView Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-content">
    <h1 class="title" id="SubjectText">@Model.costumer_name</h1>
    <p>Issue #@Model.address</p>
    <hr />
    <p>This is the GridView details page.</p>
</div>