@model DXWebApplication2.Models.SelectAllTransaksi_Result

@{
    ViewBag.Title = "GridView Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-content">
    <h1 class="title" id="SubjectText">
        @Model.produk_name>
        @*  <p>Issue #@Model.address</p>*@
        <hr />
        <p>This is the GridView details page.</p>
</div>

