@model DXWebApplication2.Models.table_produk

@{
    ViewBag.Title = "GridView Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-content">
    <h1 class="title" id="SubjectText">@Model.produk_name</h1>    
    <hr />
    <p>This is the GridView details page.</p>
</div>